{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}
{% block monTitre %}Pages listants les familles{% endblock %}

{% block body %}
{% for famille in familles %}
<h2 class="border-bottom border-primary"><a href="{{ path('afficher_famille', {'id' : famille.id})}}">{{ famille.libelle|capitalize }}</a></h2>
    <div>{{ famille.description }}</div>
<div class="row">
    {# On boucle sur la liste des animaux(collection créer dans l'Entity Famille) #}
    {% for animal in famille.animaux %}
    <div class="col-6">
        <div class="row align-items-center">
            <div class="col-4 col-md-4 col-lg-6 text-center">
                {# 1ere solution: <td><img src="{{ asset('images/' ~ animal.nom  ~ '.png') }}" ></td> #}
                {# "img-fluid" permet de resize l'image pour le responsive #} 
                <img src="{{ asset('images/' ~ animal.image|lower) }}" class="img-fluid"> 
            </div>
            <div class="col text-center">
                {# Pour créer le lien vers "afficherAnimal.html.twig", on indique le "name" de la route 
                et on récupère l'id de l'animal que l'on met dans le paramètre 'id' de la @route("/animal/{id}") #}
                <h2><a href="{{ path('afficher_animal', {'id' : animal.id })}}">{{ animal.nom }}</a></h2>
                <div>{{ animal.description }}</div>
                <div><a href="{{ path('afficher_famille', {'id': animal.famille.id })}}" class="btn btn-primary">{{animal.famille.libelle}}</a></div>
                {# <div><a href="" class="btn btn-primary">{{animal.famille.libelle}}</a></div> #}
                <div>
                    {% for continent in animal.continents %}
                    <a href="{{ path('afficher_continent', {'id' : continent.id }) }}" class="btn btn-warning mt-2">{{ continent.libelle }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endfor %}
{% endblock %}