{% extends 'base.html.twig' %}

{% block title %}Continents{% endblock %}
{% block monTitre %}Voici la liste des continents {% endblock %}
{% block body %}

{% for continent in continents %}
<h3 class="border-bottom border-primary"><a href="{{ path('afficher_continent', {'id': continent.id})}}">{{ continent.libelle}}</a></h3>
<div>
    {% for animal in continent.animaux %}
    <div class="row align-items-center">
        <div class="col-2 text-center">
            {# 1ere solution: <td><img src="{{ asset('images/' ~ animal.nom  ~ '.png') }}" ></td> #}
            <img src="{{ asset('images/' ~ animal.image|lower) }}">
        </div>
        <div class="col-auto text-left">
            {# Pour créer le lien vers "afficherAnimal.html.twig", on indique le "name" de la route 
            et on récupère l'id de l'animal que l'on met dans le paramètre 'id' de la @route("/animal/{id}") #}
            <h2><a href="{{ path('afficher_animal', {'id' : animal.id })}}">{{ animal.nom }}</a></h2>
            <div>{{ animal.description }}</div>
            <div><a href="{{ path('afficher_famille', {'id': animal.famille.id })}}"
                    class="btn btn-primary">{{animal.famille.libelle}}</a></div>
        </div>
    </div>

    {% endfor %}
</div>
{% endfor %}
{% endblock %}